body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
 }

a {
    padding: 50px;
    color: black;
}

.a {
    height: 80px;
    wargin: 100px;
    border-left: 10px dotted black;
    margin: 30px;
}

p {
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
}

footer {
    background-color: #262626;
    padding: 10px;
}

h4 {
   background-color: white;
   margin: 15px;
}
